.navigation-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
}
P {
  font-family: Arial;
  margin: 0;
}
.container {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: solid;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
}
.notifications {
  background-color: rgb(49, 109, 245);
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}
